.about {
    padding: 100px 0;
    background: var(--color-background);
}

.about-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    /* border: 1px solid red; */
}

.about-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 4px 18px var(--color-camel);
}

.about-content h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

.about-content h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: var(--color-camel);
    margin-top: 20px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 20px;
    color: var(--text-cocoa);
    max-width: 500px;
}

@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .about-image img {
        height: 450px;
    }

    .about-content {
        text-align: center;
        margin: 0 auto;
    }
}