.about {
    /* border: 1px solid blue; */
    padding: 100px 0;
    background: var(--background-white);
}

.about-container {
    width: 1200px;
    max-width: 90%;
    padding: 2px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    border: 1px solid var(--color-bg-card);
    border-radius: 4px;
    box-shadow: var(--shadow-soft);
}

.about-image {}

.about-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;

}


.about-content h3 {
    letter-spacing: 3px;
    font-size: 15px;
    color: var(--color-text-muted);
}

.about-content .highlight-text {
    font-size: 42px;
    margin-bottom: 30px;
    /* padding: 0px 10px; */

    position: relative;
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid var(--color-secondary);

}


/* LINE HIGHLIGHT */
/* SWEEP LIGHT */
.highlight-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(67, 42, 42, 0.329),
            transparent);
}

/* TRIGGER */
.aos-animate.highlight-text::before {
    animation: sweep 5s ease forwards;
}

@keyframes sweep {
    to {
        left: 100%;
    }
}



.about-content p {
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 20px;
    color: var(--text-cocoa);
    max-width: 500px;
}

@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 10px;
    }

    .about-image img {
        height: 450px;
    }

    .about-content {
        text-align: center;
        margin: 0 auto;
    }

    .about-content .highlight-text {
        font-size: 24px;
    }

    .about-content .highlight-text::after {
        width: 100%;
    }

    .about-content p {
        font-size: 13px;
    }
}

@media (max-width:550px) {}