.collection {
    padding: 140px 0;
    background: var(--color-surface);
    position: relative;
    overflow: hidden;
}

.collection::before {
    content: "";
    position: absolute;
    top: -100px;
    right: -100px;
    width: 400px;
    height: 400px;
    background: var(--color-linen);
    border-radius: 50%;
    opacity: 0.4;
    filter: blur(120px);
}

.collection-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

.collection-header {
    text-align: center;
    margin-bottom: 80px;
}

.section-label {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-cocoa);
    margin-bottom: 15px;
}


.collection-header h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.collection-header p {
    color: var(--color-cocoa);
    font-size: 16px;
}

.collection-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.item {
    background: var(--color-background);
    overflow: hidden;
    border: 1px solid rgba(74, 52, 42, 0.08);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

.item:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);
}

.item:nth-child(2) {
    animation-delay: 0.2s;
}

.item:nth-child(3) {
    animation-delay: 0.4s;
}


.item.large {
    grid-row: span 2;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms cubic-bezier(.2, .8, .2, 1);
    will-change: transform;
    transform: translate3d(0, 0, 0);
    /* paksa ke GPU */
}

.item:hover img {
    transform: scale(1.04);
    filter: brightness(1.05);
}

.item-info {
    padding: 20px;
}

.item-info h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    margin-bottom: 5px;
    color: var(--color-espresso);
    letter-spacing: 1px;
    font-weight: 400;
}

.item-info span {
    display: block;
    color: var(--color-cocoa);
    font-size: 14px;
    letter-spacing: 1px;
}

/* =======================
FOOTER
======================= */
.collection-footer {
    text-align: center;
    margin-top: 80px;
}

.collection-footer a {
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    border-bottom: 1px solid var(--color-espresso);
    color: var(--color-espresso);
    padding-bottom: 4px;
    transition: 0.3s;
}

.collection-footer a:hover {
    opacity: 0.6;
}



@media (max-width: 900px) {
    .collection-grid {
        grid-template-columns: 1fr;
    }

    .item.large {
        grid-row: auto;
    }
}