.experience {
    padding: 100px 0;
    background: linear-gradient(to bottom,
            #f1f1f1,
            #ffffff);
    /* background: var(--color-bg-soft); */
}

.experience-section::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle,
            rgba(0, 0, 0, 0.03),
            transparent 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.experience-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

.experience-header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 100px;
}

.experience-header .section-label {
    letter-spacing: 2px;
    color: var(--text-dark);
}

.experience-header h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.experience-header p {
    font-size: 16px;
    line-height: 1.9;
    color: var(--color-text-soft);
}

.experience-steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.step-number {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 14px;
    color: var(--color-text-muted);
}

.step h3 {
    font-size: 22px;
    margin: 15px 0;
}

.step p {
    font-size: 14px;
    line-height: 1.8;
    color: var(--color-text-soft);
}


@media (max-width: 900px) {
    .experience-steps {
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
    }
}

@media (max-width:600px) {
    .experience-header {
        padding: 0px 10px;
        margin-bottom: 50px;
    }

    .experience-header h2 {
        font-size: 28px;
        line-height: 1.25;
    }

    .experience-header p,
    .step p {
        font-size: 13px;
        line-height: 1.3;
    }

    .step {
        padding: 0px 10px;
    }
}