.hero {
    height: 100vh;
    background: url('/src//assets/hero.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(74, 52, 42, 0.35);
    pointer-events: none;
}

.hero-container {
    background-color: #4a342a5c;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    animation: fadeUp 1.2s ease forwards;
    /* opacity: 0; */
    transform: translateY(30px);
}

.hero-content {
    position: relative;
    color: var(--color-linen);
    max-width: 600px;
}

.hero-content h1 {
    margin: 0px;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 2px;
}

.hero-content p {
    margin: 0%;
    font-size: 16px;
    line-height: 1.8;
}

.hero-content .btn-primary {
    margin-top: 20px;
    padding: 12px 28px;
    font-size: 13px;
    background: var(--color-heading);
    color: var(--color-linen);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background-color: var(--color-text);
}

.btn-primary a {
    text-decoration: none;
    color: var(--color-linen);
}

/* =======================
ANIMATE
======================= */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}