.investment {
    padding: 120px 20px;
    background-color: #f8f6f3;
    /* soft luxury beige */
    text-align: center;
}

.investment-container {
    max-width: 1100px;
    margin: 0 auto;
}

.investment-title {
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.divider {
    width: 60px;
    height: 1px;
    background: #000;
    margin: 0 auto 30px;
}

.investment-desc {
    max-width: 600px;
    margin: 0 auto 80px;
    color: #666;
    line-height: 1.7;
    font-size: 15px;
}

.investment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    /* grid-template-columns: repeat(3, 1fr); */
    gap: 60px;
    /* border: 1px solid blue; */
}

.investment-card {
    transition: all 0.4s ease;
    /* height: 65vh; */
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.investment-card:hover {
    transform: translateY(-5px);
    opacity: 0.9;
}

.investment-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0));
}

.investment-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.category-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;

    transition: opacity 0.4s ease, transform 0.4s ease;
}

.investment-card:hover .category-caption {
    opacity: 0;
    transform: translateY(10px);
}

.investment-card:hover img {
    transform: scale(1.05);
}

.investment-card h3 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.investment-card span {
    color: var(--color-khaki);
}

.start {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 15px;
}

.investment-card p {
    font-size: 17px;
    margin: 8px 0;
}

.note {
    margin-top: 20px;
    font-size: 13px;
    font-style: italic;
    color: #888;
}

/* =======================
MEDIA QUERY
======================= */