.lookbook {
    position: relative;
    display: flex;
    align-items: center;
    padding: 120px 10%;
    background: #2b2b2b;
}

.lookbook-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.lookbook-image::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.08),
            transparent 70%);
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    filter: blur(60px);
}

.lookbook-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    display: block;

    /* width: 100%;
    height: 500px;
    object-fit: cover;
    border-top-left-radius: 99px;
    border-bottom-right-radius: 99px;
    box-shadow: 0 10px 40px #ffffff3a; */
}

/* .lookbook-content::before {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background: var(--color-primary);
    margin-bottom: 30px;
} */

.lookbook-content {
    position: relative;
    margin-left: -80px;
    /* ini kuncinya */
    background: rgba(43, 43, 43, 0.85);
    padding: 50px;
    max-width: 450px;
}

.lookbook-content h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2.8rem;
    margin: 20px 0;
    color: #cfcfcf;
}

.lookbook-content p {
    font-size: 16px;
    line-height: 1.9;
    max-width: 450px;
    /* opacity: 0.9; */
    color: #cfcfcf;
}

.section-label.light {
    font-size: 12px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
}

.btn-outline {
    margin-top: 30px;
    padding: 14px 36px;
    background: transparent;
    border: 1px solid var(--color-linen);
    color: var(--color-linen);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn-outline:hover {
    background: var(--color-background);
    color: var(--color-espresso);
}


@media (max-width: 900px) {
    .lookbook-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .lookbook-image img {
        height: 500px;
    }

    .lookbook-content {
        text-align: center;
    }
}