/* ================= DESKTOP ================= */
.navbar {
    position: fixed;
    width: 100%;
    padding: 24px 0px;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.4s ease;
    background: transparent;
}

.navbar.scrolled {
    background: var(--color-background);
    box-shadow: 0 1px 0 var(--color-surface);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 3px;
    color: var(--color-linen);
}

.navbar.scrolled .logo {
    color: var(--color-espresso);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--color-linen);
    transition: 0.3s;
}

.navbar.scrolled .nav-links a {
    color: var(--color-espresso);
}

.nav-links a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.nav-cta {
    border-bottom: 1px solid currentColor;
}

/* ================= HAMBURGER ================= */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 1100;
}

.hamburger span {
    width: 24px;
    height: 2px;
    background: var(--color-linen);
    transition: 0.4s ease;
}

.navbar.scrolled .hamburger span {
    background: var(--color-espresso);
}

/* Animate hamburger to X */
.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* CLOSE BUTTON */
.close-btn {
    display: none;
    /* default hidden desktop */
    font-size: 28px;
    cursor: pointer;
    color: var(--color-espresso);
    transition: 0.3s ease;
}

.close-btn:hover {
    opacity: 0.6;
}

/* ================= MOBILE ================= */
@media (max-width: 900px) {

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 280px;
        height: 100vh;
        background: rgba(245, 241, 234, 0.95);
        backdrop-filter: blur(8px);

        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        padding: 100px 30px 30px 30px;
        gap: 30px;

        text-align: right;
        transition: right 0.4s ease;
        z-index: 1000;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        font-size: 16px;
        margin-left: 0;
        color: var(--color-espresso);
    }

    .close-btn {
        display: none;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1101;
        color: var(--color-espresso);
        /* di atas nav-links dan hamburger */
    }
}